In [2]:
import sqlite3

In [14]:
conn = sqlite3.connect('customer.db')

In [4]:
#Need cursor to tell what DB to do

In [15]:
c = conn.cursor()

In [16]:
#Create a Table
c.execute("""CREATE TABLE newCust(
    id INTERGER PRIMARY KEY,
    first_name text,
    last_name text
    )
""")

In [9]:
#Types sqlite3 + NULL + INTERGER + REAL + TEXT + BLOB

In [10]:
conn.commit()

In [11]:
conn.close()

In [18]:
#Adding the data into the table

In [20]:
c.execute("INSERT INTO newCust VALUES(1,'newWold','Mac')")

In [21]:
conn.commit()

In [22]:
conn.close()

In [23]:
conn = sqlite3.connect('customer.db')

In [24]:
c = conn.cursor()

In [26]:
c.execute("INSERT INTO newCust VALUES(2,'May','Fari')")

In [28]:
c.execute("INSERT INTO newCust VALUES(3,'Jun','Jonc')")

In [29]:
#Adding multiple items into the table

In [30]:
manyCustomers = [
    (5,'wes','lev'),
    (6,'look','out'),
    (7,'ggo','out')
]

In [31]:
c.executemany("INSERT INTO newCust VALUES(?,?,?)",manyCustomers)

In [40]:
c.execute("SELECT * FROM newCust")

In [33]:
c.fetchall()

[(1, 'newWold', 'Mac'),
 (2, 'May', 'Fari'),
 (3, 'Jun', 'Jonc'),
 (5, 'wes', 'lev'),
 (6, 'look', 'out'),
 (7, 'ggo', 'out')]

In [42]:
#Ensure the cursor executes the query to the database

In [41]:
c.fetchmany(2)

[(1, 'newWold', 'Mac'), (2, 'May', 'Fari')]

In [43]:
items = c.fetchall()

In [44]:
items

[(3, 'Jun', 'Jonc'), (5, 'wes', 'lev'), (6, 'look', 'out'), (7, 'ggo', 'out')]

In [45]:
type(items)

list

In [47]:
for it in items:
    
    print(it[2])

Jonc
lev
out
out

In [48]:
c.execute("SELECT rowid,* FROM newCust")

In [49]:
c.fetchall()

[(1, 1, 'newWold', 'Mac'),
 (2, 2, 'May', 'Fari'),
 (3, 3, 'Jun', 'Jonc'),
 (4, 5, 'wes', 'lev'),
 (5, 6, 'look', 'out'),
 (6, 7, 'ggo', 'out')]

In [54]:
#Using the Where and Like

In [52]:
c.execute("SELECT * FROM newCust WHERE last_name LIKE 'o%'")

In [53]:
c.fetchall()

[(6, 'look', 'out'), (7, 'ggo', 'out')]

In [55]:
#Updating the records

In [56]:
c.execute("UPDATE newCust SET first_name='loun' WHERE first_name='ggo' ")

In [58]:
c.execute("SELECT * FROM newCust")

In [59]:
c.fetchall()

[(1, 'newWold', 'Mac'),
 (2, 'May', 'Fari'),
 (3, 'Jun', 'Jonc'),
 (5, 'wes', 'lev'),
 (6, 'look', 'out'),
 (7, 'loun', 'out')]

In [60]:
#Use rowId to update the data

In [61]:
c.execute("UPDATE newCust SET first_name='ruolm' WHERE rowid=5 ")

In [62]:
c.execute("SELECT * FROM newCust")

In [63]:
c.fetchall()

[(1, 'newWold', 'Mac'),
 (2, 'May', 'Fari'),
 (3, 'Jun', 'Jonc'),
 (5, 'wes', 'lev'),
 (6, 'ruolm', 'out'),
 (7, 'loun', 'out')]

In [65]:
c.execute("DELETE FROM newCust WHERE rowid = 5")

In [67]:
conn.commit()

In [68]:
c.execute("SELECT * FROM newCust")

In [69]:
c.fetchall()

[(1, 'newWold', 'Mac'),
 (2, 'May', 'Fari'),
 (3, 'Jun', 'Jonc'),
 (5, 'wes', 'lev'),
 (7, 'loun', 'out')]

In [70]:
c.execute("SELECT * FROM newCust ORDER BY first_name")

In [71]:
c.fetchall()

[(3, 'Jun', 'Jonc'),
 (2, 'May', 'Fari'),
 (7, 'loun', 'out'),
 (1, 'newWold', 'Mac'),
 (5, 'wes', 'lev')]

In [72]:
c.execute("SELECT * FROM newCust ORDER BY first_name DESC")

In [73]:
c.fetchall()

[(5, 'wes', 'lev'),
 (1, 'newWold', 'Mac'),
 (7, 'loun', 'out'),
 (2, 'May', 'Fari'),
 (3, 'Jun', 'Jonc')]

In [74]:
c.execute("SELECT * FROM newCust WHERE first_name = 'wes' or last_name LIKE 'l%'")

In [75]:
c.fetchall()

[(5, 'wes', 'lev')]

In [76]:
c.execute("SELECT * FROM newCust WHERE first_name = 'wes' or last_name LIKE 'J%'")

In [77]:
c.fetchall()

[(3, 'Jun', 'Jonc'), (5, 'wes', 'lev')]

In [78]:
#Delete the Table

In [ ]:
c.execute("DROP TABLE ")